---
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils'
import type { Tag } from '../../api/tag'

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)

const tag: Tag = Astro.props.tag
---

<a class="rounded bg-vanille p-2 py-1 text-sm text-black" href={translatePath('/tag/' + tag.slug)}>
  {tag.name}
</a>
