---
import type { Tag } from '../../api/tag'
import { getRelativeLocaleUrl } from 'astro:i18n'

const lang = Astro.currentLocale as string

const tag: Tag = Astro.props.tag
---

<a
  class="rounded bg-vanille p-2 py-1 text-sm text-black"
  href={getRelativeLocaleUrl(lang, '/tag/' + tag.slug)}
>
  {tag.name}
</a>
