---
import type { Tag } from '../../api/tag'
import { getRelativeLocaleUrl } from 'astro:i18n'

const lang = Astro.currentLocale as string

const tag: Tag = Astro.props.tag
---

<a
  class="rounded-full bg-vanille px-4 py-1 text-sm text-black transition hover:-translate-y-1 hover:shadow-lg"
  href={getRelativeLocaleUrl(lang, '/tag/' + tag.slug)}
>
  {tag.name}
</a>
