{
  "importOrder": ["<THIRD_PARTY_MODULES>", "@/(.*)", "^[./]"],
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "printWidth": 1000,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": false
}
