---
import Card from '../components/post/card.astro'
import type { Tag } from '../api/tag'
import type { Post } from '../api/post'
import { getPosts } from '../api/post'

const node: Tag = Astro.props.node
const posts = await getPosts()
---

<h1>{node.name} - Archive</h1>

{
  posts.map((post: Post) => {
    return <Card post={post} />
  })
}
