---
import { useTranslations } from '../../i18n/ui'
import NewsletterForm from './newsletterForm.astro'

const lang = Astro.currentLocale as string
const t = useTranslations(lang)
---

<div
  id="newsletter-modal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-full max-h-full w-full !items-end overflow-y-auto overflow-x-hidden data-[state=closed]:animate-fadeOut data-[state=open]:animate-fadeIn md:inset-0 md:!items-center md:!justify-center"
>
  <div
    class="bg-zink-50 text-zink-900 dark:bg-zink-700 dark:text-zink-50 relative h-full max-h-full w-full max-w-full overflow-auto rounded-none p-6 shadow-lg md:h-auto md:max-w-2xl md:rounded"
  >
    <header class="p-6 pb-8 lg:p-12 lg:pb-8">
      <div class="flex flex-col items-center gap-4">
        <img
          loading="lazy"
          src="/icon-heart.svg"
          alt={t('newsletter.header.title')}
          width="110"
          height="82"
          class="w-16 md:w-auto"
        />
        <h2 class="flex flex-col items-center justify-center gap-4 text-center text-3xl font-bold">
          {t('newsletter.header.title')}
        </h2>
        <p class="text-center" set:html={t('newsletter.header.subtitle')} />
      </div>
      <button
        aria-label="Close modal"
        toggle-newsletter-modal
        class="absolute right-1 top-1 rounded-sm p-1"
      >
        <i class="icon-close text-sm"></i>
      </button>
    </header>
    <NewsletterForm />
    <p class="mt-8 text-center text-sm" set:html={t('newsletter.footer.copy')} />
  </div>
</div>

<script>
  import { Modal } from 'flowbite'
  import type { ModalOptions, ModalInterface } from 'flowbite'
  import type { InstanceOptions } from 'flowbite'

  const $targetEl: HTMLElement = document.querySelector('#newsletter-modal')

  const modalOptions: ModalOptions = {
    placement: undefined,
    backdrop: 'dynamic',
    backdropClasses: 'bg-zink-900/50 dark:bg-zink-900/80 fixed inset-0 z-30',
    closable: true,
    onHide: () => {
      $targetEl.setAttribute('data-state', 'closed')
    },
    onShow: () => {
      $targetEl.setAttribute('data-state', 'open')
    },
    onToggle: () => {}
  }

  const instanceOptions: InstanceOptions = {
    id: 'newsletter-modal',
    override: true
  }

  const modal: ModalInterface = new Modal($targetEl, modalOptions, instanceOptions)

  // Event listener to toggle the drawer
  document.querySelectorAll('[toggle-newsletter-modal]').forEach((el) => {
    el.addEventListener('click', () => {
      modal.toggle()
    })
  })
</script>
