

@import "tailwindcss";
@config "../../tailwind.config.cjs";
@plugin "@tailwindcss/typography";

/* Conserver Tailwind V3 Border Color */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='2' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  --line-yellow-dotted: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='2' stroke-dasharray='2 5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  --line-dark: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='hsl(192, 17%, 35%)' stroke-width='2' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  --line-dark-dotted: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='hsl(192, 17%, 35%)' stroke-width='2' stroke-dasharray='2 5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  --line-white: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='hsl(0, 0%, 98%)' stroke-width='2' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  --line-white-dotted: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='hsl(0, 0%, 98%)' stroke-width='2' stroke-dasharray='2 5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
}

/**
    * Link
*/

.prose > *:not(.not-prose) a {
  color: inherit !important;
  background: var(--line-yellow) bottom left/100% 0.3em repeat-x;
  text-decoration: none !important;
  padding-bottom: 0.3em;
}

.prose > *:not(.not-prose) a:hover {
  background: var(--line-yellow-dotted) bottom left/100% 0.3em repeat-x;
}

/**
    * Mark
*/

/* *:not(.prose) .mark {
  color: inherit !important;
  background: var(--line-yellow) bottom left/100% 0.3em repeat-x;
  text-decoration: none !important;
  padding-bottom: 0.3em;
} */

.mark,
mark {
  margin: 0 -0.4em;
  padding: 0em 1rem;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 76, 0.1),
    rgba(255, 225, 76, 0.8) 4%,
    rgba(255, 225, 76, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.mark a,
mark a {
  padding-bottom: 0.5em;
}

.dark .mark,
.dark mark {
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 76, 0.6),
    rgba(255, 225, 76, 1) 4%,
    rgba(255, 225, 76, 0.7)
  );
}

/**
    * Pre
*/

.prose :where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  position: relative;
  overflow: visible !important;
  font-family: inherit;
}

.prose :where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) :after {
  content: '';
  display: block;
  position: absolute;
  bottom: -12px;
  right: 0;
  background: url(/phare.svg) bottom center no-repeat;
  background-size: contain;
  width: 78px;
  height: 115%;
}

.dark .prose :where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  @apply bg-stone-700;
}
