---
import Layout from '../../layouts/Layout.astro'
import { fetchIndexPosts } from '../../api/getIndexPosts'
import IndexPosts from '../../components/indexPosts.astro'

const data = await fetchIndexPosts('en')
const posts = data

const seo = {
  title: 'Home Page'
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate')
---

<Layout seo={seo}>
  <main>
    <IndexPosts posts={posts} />
  </main>
</Layout>
