---
type Props = {
  requiredFieldsError: string
  callbackError: string
}

const { requiredFieldsError, callbackError }: Props = Astro.props
---

<p error-required-fields class="text-md hidden text-center font-bold text-rose-700">
  {requiredFieldsError}
</p>
<p error-callback class="text-md hidden text-center font-bold text-rose-700">{callbackError}</p>
