---
type Props = {
  name: string
  label: string
  id?: string
  required?: boolean
}

const { id, name, label, required }: Props = Astro.props
---

<div class="relative">
  <input
    type="text"
    class="border-zink-900 bg-zink-900/5 text-zink-900 dark:border-zink-600 dark:bg-zink-600/40 dark:text-zink-50 peer block w-full appearance-none rounded-sm border-0 border-b-2 px-2.5 pb-2.5 pt-5 text-sm focus:outline-none focus:ring-0"
    id={id ? id : null}
    name={name}
    placeholder=" "
    required={required}
  />
  <label
    for={id ? id : null}
    class="text-zink-500 dark:text-zink-300 absolute start-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-sm duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75"
  >
    {label}
  </label>
</div>
