---
type Props = {
  name: string
  label: string
  placeholder?: string
  id?: string
  required?: boolean
}

const { id, name, label, required, placeholder }: Props = Astro.props
---

<div>
  <label for={id ? id : null} class="sr-only">{label}</label>
  <textarea
    name={name ? name : null}
    id={id ? id : null}
    rows="4"
    class="peer block w-full appearance-none border-0 border-b-2 border-zinc-900 bg-zinc-900/5 px-2.5 pb-2.5 pt-5 text-sm text-zinc-900 placeholder:text-zinc-500 focus:outline-none focus:ring-0 dark:border-zinc-600 dark:bg-zinc-600/40 dark:text-zinc-50 dark:placeholder:text-zinc-300"
    placeholder={placeholder ? placeholder : null}
    required={required}></textarea>
</div>
