---
type Props = {
  name: string
  label: string
  placeholder?: string
  id?: string
  required?: boolean
}

const { id, name, label, required, placeholder }: Props = Astro.props
---

<div>
  <label for={id ? id : null} class="sr-only">{label}</label>
  <textarea
    name={name ? name : null}
    id={id ? id : null}
    rows="4"
    class="border-zink-900 bg-zink-900/5 text-zink-900 placeholder:text-zink-500 dark:border-zink-600 dark:bg-zink-600/40 dark:text-zink-50 dark:placeholder:text-zink-300 peer block w-full appearance-none border-0 border-b-2 px-2.5 pb-2.5 pt-5 text-sm focus:outline-none focus:ring-0"
    placeholder={placeholder ? placeholder : null}
    required={required}></textarea>
</div>
