---
import type { Category } from '../../api/category'
import { getRelativeLocaleUrl } from 'astro:i18n'

const lang = Astro.currentLocale as string
const category: Category = Astro.props.category
---

<a
  class="rounded bg-framboise p-2 py-1 text-sm text-black"
  href={getRelativeLocaleUrl(lang, '/' + category.slug)}
>
  {category.name}
</a>
