---
import { getThemeOptions } from '../../api/options'

const lang = Astro.currentLocale as string
const glaceOptions = await getThemeOptions(lang)
---

<div>
  <div class="rounded-bl-3xl bg-vanille px-8 pb-8 pt-12">
    <div class="prose text-sm text-black" set:html={glaceOptions.introduction} />
  </div>
</div>
