---
const lang = Astro.currentLocale as string
const glaceOptions = await getOptions(lang)
---

<div>
  <div class="rounded-bl-3xl bg-vanille px-8 pb-8 pt-12 text-sm text-black">
    <p>
      <p>
        Bienvenue sur <strong>Carnets Vanille</strong>! Moi c’est Sarah, une amoureuse <a
          href="https://carnetsvanille.com/saint-malo/">de Saint-Malo</a
        > qui s’est retrouvée à <a href="https://carnetsvanille.com/quebec/">Montréal</a>. J’écris
        sur ces deux régions qui me tiennent à coeur : itinéraires de voyage, ebooks, conseils et
        d’autres !
      </p>
    </p>
  </div>
</div>
