---

---

<div
  id="responsive-menu"
  class="fixed right-0 top-0 z-40 h-screen w-full translate-x-full overflow-y-auto bg-black/90 text-white backdrop-blur data-[state=closed]:animate-responsiveMenuHide data-[state=open]:animate-responsiveMenuShow"
  tabindex="-1"
  aria-labelledby="responsive-menu"
>
  <slot />
</div>

<script>
  import { Drawer } from 'flowbite'
  import type { DrawerOptions, DrawerInterface } from 'flowbite'
  import type { InstanceOptions } from 'flowbite'

  const $targetEl: HTMLElement = document.getElementById('responsive-menu')

  const options: DrawerOptions = {
    placement: 'right',
    backdrop: true,
    bodyScrolling: false,
    edge: false,
    edgeOffset: '',
    backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-30',
    onHide: () => {
      $targetEl.setAttribute('data-state', 'closed')
    },
    onShow: () => {
      $targetEl.setAttribute('data-state', 'open')
    },
    onToggle: () => {}
  }

  const instanceOptions: InstanceOptions = {
    id: 'responsive-menu',
    override: true
  }

  const drawer: DrawerInterface = new Drawer($targetEl, options, instanceOptions)

  // Event listener to toggle the drawer
  document.querySelectorAll('[toggle-drawer]').forEach((el) => {
    el.addEventListener('click', () => {
      drawer.toggle()
    })
  })
</script>
