---
export const prerender = true

import Layout from '../layouts/Layout.astro'

const seo = {
	yoast:{
		title: "Page non trouvée - Carnets Vanille",
		robots: {
			index: 'noindex',
			follow: 'nofollow'
		}
	},
	alternates: []
}
---

<Layout seo={seo}>
  <main class="flex items-center justify-center">
    <span class="text-[100px] font-black text-vanille md:text-[160px] lg:text-[200px]">404</span>
  </main>
</Layout>
