---
import Layout from '../layouts/Layout.astro'
import IndexPosts from '../components/indexPosts.astro'
import { getPosts } from '../api/post'

const posts = await getPosts()

const seo = {
  title: 'Accueil'
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate')
---

<Layout seo={seo}>
  <main>
    <IndexPosts posts={posts} />
  </main>
</Layout>
