---
import Layout from '../layouts/Layout.astro'
import { homePagePostsQuery, type Post } from '../api/posts'
import IndexPosts from '../components/indexPosts.astro'

const data = await homePagePostsQuery('fr')
const posts = data

const seo = {
  title: 'Accueil'
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate')
---

<Layout title={seo.title}>
  <main>
    <IndexPosts posts={posts} />
  </main>
</Layout>
