---
import Logo from './Logo.astro'
import HeaderMenu from './HeaderMenu.astro'
---

<header class="mb-12 space-y-8">
  <div class="flex items-center justify-center">
    <Logo />
  </div>
  <HeaderMenu />
</header>
