---
import { getRelativeLocaleUrl } from 'astro:i18n'
import ThemeIcon from '../theme/Icon.astro'
import Logo from './Logo.astro'

// WP does not have a Menu Items built in. We could easily make it happen by adding doing some modification on the WP side through our theme or a plugin, but for now we'll hard code our menu.
const lang = Astro.currentLocale as string
const primaryMenu = [
  {
    lang: 'fr',
    items: [
      {
        title: 'De Saint-Malo',
        slug: 'saint-malo'
      },
      {
        title: 'Au Québec',
        slug: 'quebec'
      },
      {
        title: 'Et d’ailleurs',
        slug: 'decouvrir-le-monde'
      }
    ]
  },
  {
    lang: 'en',
    items: []
  }
]

const primaryMenuForLang = primaryMenu.find((item) => item.lang === lang)?.items
---

<ThemeIcon />
<header class="mb-12 space-y-8">
  <div class="flex items-center justify-center">
    <Logo />
  </div>
  <div class="flex items-center justify-center gap-8">
    {
      primaryMenuForLang?.map((item) => {
        return (
          <a
            href={getRelativeLocaleUrl(lang, item.slug)}
            class="font-bold uppercase hover:underline"
          >
            {item.title}
          </a>
        )
      })
    }
  </div>
</header>
