---
import FooterMenu from './FooterMenu.astro'
import ToggleThemeIcon from '../../components/theme/Icon.astro'
import LanguagePicker from '../../components/theme/LanguagePicker.astro'
---

<footer class="mt-32 flex flex-col items-center gap-4">
  <FooterMenu />
  <LanguagePicker />
  <ToggleThemeIcon color="text-black dark:text-white" />
  <ul>
    <li>
      env.dev : {import.meta.env.DEV}
    </li>
    <li>
      env.mode : {import.meta.env.MODE}
    </li>
    <li>
      env.vercel_env : {import.meta.env.VERCEL_ENV}
    </li>
  </ul>
</footer>
