---
import { languages } from '../../i18n/ui'
import { useTranslatedPath, getLangFromUrl } from '../../i18n/utils'
const currentLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(currentLang)
---

<ul class="flex items-center justify-center gap-4">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        {lang === currentLang ? (
          <strong>{label}</strong>
        ) : (
          <a href={translatePath('/', lang)}>{label}</a>
        )}
      </li>
    ))
  }
</ul>
