---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { locales } from '../../i18n/ui'
const currentLang = Astro.currentLocale as string
---

<ul class="flex items-center justify-center gap-4">
  {
    locales.map((lang) => (
      <li>
        {lang === currentLang ? (
          <strong class="text-sm font-bold uppercase text-zinc-600 dark:text-zinc-300">
            {lang}
          </strong>
        ) : (
          <a
            href={getRelativeLocaleUrl(lang as string, '/')}
            class="text-sm uppercase text-zinc-600 hover:underline dark:text-zinc-300"
          >
            {lang}
          </a>
        )}
      </li>
    ))
  }
</ul>
