---
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)
const { post } = Astro.props
---

<article>
  <a class="" href={translatePath(`/${post.slug}`)} aria-label={post.title}>
    <h3>{post.title.rendered}</h3>
    <section>
      <img
        src={post._embedded['wp:featuredmedia'][0]?.source_url}
        srcset={post._embedded['wp:featuredmedia'][0]?.source_url}
        alt={post._embedded['wp:featuredmedia'][0]?.alt_text}
        width={post._embedded['wp:featuredmedia'][0]?.mediaDetails?.width}
        height={post._embedded['wp:featuredmedia'][0]?.mediaDetails?.height}
      />
    </section>
  </a>
</article>
