---
import { useTranslations } from '../../i18n/ui'
import InputText from '../ui/form/text.astro'
import InputEmail from '../ui/form/email.astro'
import InputSubmit from '../ui/form/submit.astro'
import FormErrors from '../ui/form/error.astro'
import FormSuccess from '../ui/form/success.astro'
import Textarea from '../ui/form/textarea.astro'
import { ADMIN_EMAIL } from '../../constant'

type Props = {
  postId: number
}

const lang = Astro.currentLocale as string
const { postId }: Props = Astro.props
const t = useTranslations(lang)
---

<form
  id="comment-form"
  class="flex flex-col gap-8"
  onsubmit="formSubmit(event, postComment)"
  novalidate
>
  <input hidden required type="text" name="postId" value={postId} />
  <FormErrors
    requiredFieldsError={t('post.comments.form.errors.fields')}
    callbackError={t('post.comments.form.errors.callback') + ADMIN_EMAIL}
  />
  <FormSuccess message={t('post.comments.form.success')} />
  <div class="grid grid-cols-2 gap-8">
    <InputText required id="firstName" name="firstName" label={t('post.comments.form.firstName')} />
    <InputEmail required id="email" name="email" label={t('post.comments.form.email')} />
  </div>
  <div>
    <InputText id="website" name="website" label={t('post.comments.form.website')} />
  </div>
  <Textarea
    required
    id="comment"
    name="comment"
    label={t('post.comments.form.comment')}
    placeholder={t('post.comments.form.comment')}
  />
  <InputSubmit label={t('post.comments.form.submit')} />
</form>

<script is:inline>
  async function postComment(form) {
    const data = {
      post: form.postId.value,
      author_name: form.firstName.value,
      author_email: form.email.value,
      content: form.comment.value
    }

    const response = await fetch('/api/comments', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })

    if (response.ok) {
      return Promise.resolve(response)
    } else {
      return Promise.reject(response)
    }
  }
</script>
