---
import { type Comment as CommentType } from '../../api/comment'
import { useTranslations } from '../../i18n/ui'
import SectionTitle from '../ui/sectionTitle.astro'
import Comment from './comment.astro'

const { comments } = Astro.props
const lang = Astro.currentLocale as string
const t = useTranslations(lang)
---

<div class="mx-auto max-w-prose">
  {
    comments && (
      <div class="space-y-4">
        <SectionTitle
          as="h3"
          className="mb-8"
          title={`${comments.length} ${t('post.comments.title')}`}
          subtitle={t('post.comments.subtitle')}
        />
        {comments.map((comment: CommentType) => (
          <Fragment>
            <Comment comment={comment} />
            {comment.children &&
              comment.children.map((comment: CommentType) => (
                <Comment className="ml-8" comment={comment} />
              ))}
          </Fragment>
        ))}
      </div>
    )
  }
</div>
