---
import { type Comment as CommentType } from '../../api/comment'
import { useTranslations } from '../../i18n/ui'
import SectionTitle from '../ui/sectionTitle.astro'
import Comment from './comment.astro'

const { comments } = Astro.props
const lang = Astro.currentLocale as string
const t = useTranslations(lang)
---

{
  comments.map((comment: CommentType) => (
    <div
      class={`relative flex flex-col gap-6  ${comment.parent === 0 ? 'before:absolute before:left-[26px] before:top-[60px] before:z-0 before:block before:h-[calc(100%-60px)] before:w-px before:bg-vanille' : ''}`}
    >
      <Comment comment={comment} />
      {comment.children && (
        <div class="ml-16">
          <Astro.self comments={comment.children} />
        </div>
      )}
    </div>
  ))
}
