---
import { useTranslations } from '../../i18n/ui'
import InputText from '../ui/form/text.astro'
import InputEmail from '../ui/form/email.astro'
import InputSubmit from '../ui/form/submit.astro'

const lang = Astro.currentLocale as string
const t = useTranslations(lang)
---

<form
  id="comment-form"
  class="flex flex-col gap-8"
  onsubmit="formSubmit(event, postComment)"
  novalidate
>
  <p error-fields class="hidden text-center text-rose-700">
    {t('post.comments.form.errors.fields')}
  </p>
  <div class="grid grid-cols-2 gap-8">
    <InputText required id="firstName" name="firstName" label={t('post.comments.form.firstName')} />
    <InputEmail required id="email" name="email" label={t('post.comments.form.email')} />
  </div>
  <div>
    <InputText id="website" name="website" label={t('post.comments.form.website')} />
  </div>
  <div>
    <label for="comment" class="sr-only">{t('post.comments.form.comment')}</label>
    <textarea
      name="comment"
      id="comment"
      rows="4"
      class="peer block w-full appearance-none border-0 border-b-2 border-stone-900 bg-stone-900/5 px-2.5 pb-2.5 pt-5 text-sm text-gray-900 placeholder:text-stone-500 focus:outline-none focus:ring-0 dark:border-stone-600 dark:bg-stone-600/40 dark:text-stone-50 dark:placeholder:text-stone-300"
      placeholder={t('post.comments.form.comment')}
      required></textarea>
  </div>
  <InputSubmit label={t('post.comments.form.submit')} />
</form>

<script is:inline>
  function postComment() {
    const commentForm = document.querySelector('#comment-form')
    alert(commentForm.comment.value)
  }
</script>
