---
import { type Comments } from '../../api/comment'
import FormattedDate from '../formatedDate.astro'

const { comments } = Astro.props
---

<div class="prose prose-stone mx-auto dark:prose-invert">
  {
    comments && (
      <div class="space-y-4">
        <h3 class="mb-8 text-center">Comments</h3>
        {comments.map((comment: Comments) => (
          <div class="flex flex-col gap-2">
            <div set:html={comment.content.rendered} />
            <span class="font-medium">{comment.author_name}</span>
            <span class="font-medium">
              <FormattedDate date={comment.date} />
            </span>
          </div>
        ))}
      </div>
    )
  }
</div>
