---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

import Header from '../components/Header.astro'
import '@fontsource-variable/mulish'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- ## SEO -->
  </head>
  <body class="font-mulish bg-white text-black dark:bg-black dark:text-white">
    <Header />
    <slot />
  </body>
</html>
<style is:global></style>
