---
import '@fontsource-variable/mulish'
import Seo from '../components/head/seo.astro'

import '../styles/custom.css'
import Footer from '../components/Footer/Footer.astro'
import FormScript from '../components/scripts/formScript.astro'
import NewsletterModal from '../components/newsletter/newsletterModal.astro'
import ResponsiveMenuContent from '../components/responsiveMenu/responsiveMenuContent.astro'
import ResponsiveMenuDrawer from '../components/responsiveMenu/responsiveMenuDrawer.astro'
import ResponsiveMenuToggle from '../components/responsiveMenu/responsiveMenuToggle.astro'
import ThemeColorScript from '../components/scripts/themeColor.astro'

interface Props {
  seo: string
}

const { seo } = Astro.props

const lang = Astro.currentLocale as string
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <Seo seo={seo} />
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- CSS -->
    <link rel="stylesheet" href="/icons/glace-icons.css" />
  </head>

  <body class="bg-stone-50 font-mulish dark:bg-stone-900 dark:text-white">
    <ResponsiveMenuToggle />
    <ResponsiveMenuDrawer>
      <ResponsiveMenuContent />
    </ResponsiveMenuDrawer>
    <slot />
    <FormScript />
    <ThemeColorScript />
    <NewsletterModal />
  </body>
</html>
