---
import Header from '../components/header/Header.astro'
import '@fontsource-variable/mulish'
import Seo from '../components/head/seo.astro'
import LanguagePicker from '../components/theme/LanguagePicker.astro'
import { ResponsiveCanva } from '../components/responsiveCanva'

interface Props {
  seo: string
}

const { seo } = Astro.props

const lang = Astro.currentLocale as string
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <Seo seo={seo} />
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- CSS -->
    <link rel="stylesheet" href="/icons/glace.css" />
  </head>

  <body
    class="mx-auto bg-stone-50 px-4 py-6 font-mulish text-black md:container dark:bg-stone-900 dark:text-white"
  >
    <Header />
    <ResponsiveCanva client:idle />
    <slot />
    <footer class="mt-32">
      <LanguagePicker />
    </footer>
  </body>
</html>
