---
import Header from '../components/header/Header.astro'
import '@fontsource-variable/mulish'
import Seo from '../components/head/seo.astro'

import '../styles/custom.css'
import Footer from '../components/Footer/Footer.astro'
import FormScript from '../components/scripts/formScript.astro'
import NewsletterModal from '../components/newsletter/newsletterModal.astro'
import ResponsiveMenuDrawer from '../components/responsiveMenu/responsiveMenuDrawer.astro'
import ResponsiveMenuToggle from '../components/responsiveMenu/responsiveMenuToggle.astro'
import ThemeColorScript from '../components/scripts/themeColor.astro'
import Stay22 from '../components/thirdPartyScripts/Stay22.astro'
import ResponsiveMenuContent from '../components/responsiveMenu/ResponsiveMenuContent.astro'
import type { Yoast } from '../api/yoast'

interface Props {
  seo: {
    yoast: Yoast
    alternates: {
      hrefLang: string
      href: string
    }[]
  }
}

const { seo } = Astro.props

const lang = Astro.currentLocale as string
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <Seo seo={seo} />
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- CSS -->
    <link rel="stylesheet" href="/icons/glace-icons.css" />
    <script
      defer
      data-domain="carnetsvanille.com"
      src="https://plausible.sebastiendelrue.me/js/script.js"></script>
  </head>

  <body
    class="mx-auto bg-stone-50 px-4 py-6 font-mulish md:container dark:bg-stone-900 dark:text-white"
  >
    <Header />
    <ResponsiveMenuToggle />
    <slot />
    <Footer />
    <ResponsiveMenuDrawer>
      <ResponsiveMenuContent />
    </ResponsiveMenuDrawer>
    <FormScript />
    <ThemeColorScript />
    <NewsletterModal />
    <script is:inline>
      ;(function (s, t, a, y, twenty, two) {
        s.Stay22 = s.Stay22 || {}
        // Just fill out your configs here
        s.Stay22.params = {
          aid: 'carnetsvanille'
        }
        // Leave this part as-is;
        twenty = t.createElement(a)
        two = t.getElementsByTagName(a)[0]
        twenty.async = 1
        twenty.src = y
        two.parentNode.insertBefore(twenty, two)
      })(window, document, 'script', 'https://scripts.stay22.com/letmeallez.js')
    </script>
  </body>
</html>
